@import "tailwindcss";

:root{
  color-scheme: light dark;
}



/* Naming convenstion so far: [type]-[env?]-[what]-[variant] */
/*                            color  error  border muted */
/*                            color  error  fg     muted */

@theme {
  --color-bg: light-dark(var(--color-slate-100), var(--color-zinc-900));

  --color-fg:      light-dark(var(--color-slate-700), var(--color-zinc-300));
  --color-fg2:     light-dark(var(--color-slate-500), var(--color-zinc-400));
  --color-fg3:     light-dark(var(--color-slate-400), var(--color-zinc-500));
  --color-fgGreen: light-dark(var(--color-emerald-600), var(--color-emerald-500));
  --color-fgBlue:  light-dark(var(--color-sky-600), var(--color-sky-500));
  --color-error:   light-dark(var(--color-red-500), var(--color-red-400));
  --color-error2:  light-dark(var(--color-red-400), --alpha(var(--color-red-500) / 100%));

  --color-border:  --alpha(var(--color-fg) / 25%);
  --color-border2: light-dark(--alpha(var(--color-slate-300) / 75%), --alpha(var(--color-zinc-600) / 50%));
  --color-border3: light-dark(var(--color-slate-300), --alpha(var(--color-zinc-700) / 50%));
  --color-border4: light-dark(color-mix(in oklch, var(--color-slate-200), var(--color-contrast) 13%) , --alpha(var(--color-zinc-700) / 50%));
  --color-border5: --alpha(var(--color-border4)/50%);

  --color-surface: light-dark(var(--color-white), color-mix(in oklab, var(--color-bg), var(--color-fg3) 9%));
  --color-surface2: light-dark(var(--color-white), color-mix(in oklab, var(--color-bg), var(--color-fg3) 15%));
  --color-surface-border: light-dark(var(--color-border3), --alpha(var(--color-border3) / 50%));

  --color-input: light-dark(var(--color-white), --alpha(var(--color-zinc-950) / 30%));

  --color-contrast: light-dark(#5078B5, #B5B5CF) /* Retrieved by Color-Dodging 600 value in Figma */

}


/* Base */
@utility base-bg           { @apply bg-bg }
@utility base-text         { @apply text-fg font-medium font-mono tracking-[0.01em] }
@utility base              { @apply base-bg base-text }


/* Typography */
@utility text-muted        { @apply text-fg2 }
@utility text-faint        { @apply text-fg3 }
@utility text-green        { @apply text-fgGreen }


/* Interactions */
@utility clickable         { @apply cursor-pointer }
@utility clickableUI       { @apply select-none cursor-pointer }


/* Links */
@utility link-text         { @apply text-fg2 hover:text-fg }
@utility link-article      { @apply link-text link-underline clickable }
@utility link-navigation   { @apply link-text clickable }
@utility link-underline    { @apply underline underline-offset-3 
                                    decoration-fg2/20 hover:decoration-fg2/60 }


/* Strokes */
@utility divider           { @apply border-border3 }
@utility divider-mid       { @apply border-border2 }
@utility divider-strong    { @apply border-border }


@custom-variant focus-within-and-hover {
  &:focus-within { 
    @slot;
    &:hover {
      @slot;
    }
  }
}
/* TODO: make autofill reset styles */
@theme {
  --radius-input: var(--radius-lg)
}
@utility input-reset         { @apply outline-none }
@utility input-box-inner     { @apply px-3 py-2 self-stretch flex items-center grow outline-none 
                                      first:rounded-l-input
                                      last:rounded-r-input
                             }
@utility input-box-inner-adornment { @apply my-1 first:ml-1 last:mr-1 flex items-center 
                                            first:rounded-l-input
                                            last:rounded-r-input
                                   } 
@utility input-box           { @apply /* Outer Ring */
                                     transition-[outline,border] duration-50
                                     outline outline-transparent 

                                     has-[>.input-box-inner]:p-0

                                     focus-within-and-hover:outline-4
                                     focus-within-and-hover:outline-border4/50 
                                     focus-within-and-hover:border-border3

                                     hover:outline-border4/50 
                                     hover:outline-4 

                                     /* Autofill */
                                     autofill-text-blue-500! autofill-border-blue-500!

                                     /* Layout */
                                     flex items-center min-w-30 max-w-72 grow shrink-0 rounded-input min-h-9
                                     px-3 p-2
                                     bg-input caret-fg text-start
                                     border-border3 border
                                     placeholder:text-fg3/50
                                     placeholder:italic
                            }
@utility input-box-error    { @apply border 
                                     border-error2 dark:border-error2/50
                                     hover:outline-error2/20

                                     focus-within-and-hover:border-error2 
                                     dark:focus-within-and-hover:border-error2/50
                                     focus-within-and-hover:outline-error2/20
                            }
@utility input-label        { @apply text-fg2 text-sm group-focus-within:text-fg }
@utility input-group        { @apply flex flex-col gap-1 }


/* Errors */
@utility error-text       { @apply text-error }
@utility error-text-muted { @apply text-error/75 }
@utility error-border     { @apply border-error/15 }
@utility error-bg         { @apply bg-error/7 }
@utility error-card       { @apply card error-border error-bg error-text }

/* Page */
@utility page             { @apply base p-8 flex flex-col gap-4 max-w-200 w-screen min-h-screen }
@utility page-title       { @apply text-xl tracking-tighter font-semibold leading-6 mb-2 }
@utility page-description { @apply text-muted font-semibold }



/* Card */
@utility card-border      { @apply border border-border5 }
@utility card-shadow      { @apply shadow-none }
@utility card-bg          { @apply bg-surface }
/* @utility card-bg2         { @apply bg-slate-50 dark:bg-zinc-800/50 } */
@utility card-padding     { @apply p-2 px-3 }
@utility card-rounded     { @apply rounded-md }
@utility card-clickable   { @apply clickableUI }
@utility card             { @apply card-border card-shadow card-bg card-padding card-rounded }

@utility link-card        { @apply card card-clickable transition-all duration-75 hover:shadow-lg
                            hover:shadow-slate-500/10 dark:hover:shadow-zinc-950/50
                            hover:border-slate-300 dark:hover:border-zinc-700
                            /* hover:bg-slate-50/50 dark:hover:bg-zinc-800/25  */
                            hover:bg-fg/2 dark:hover:bg-fg/8
                          }

@utility info-card        { @apply card-border card-bg p-5 rounded-xl }

/* Button */
@theme {
  --color-skeue-bg: light-dark(var(--color-surface), --alpha(var(--color-fg3)/20%));
  --color-skeue-border: light-dark(var(--color-border4), #0007);
  --shadow-skeue-highlight: inset 0px  0.5px 0px 0.5px light-dark(#fff8, #fff1),
                           inset 0px -1.5px 0px 0.5px light-dark(--alpha(var(--color-contrast)/10%), #0002);
  --color-skeue-bg-hover: light-dark(color-mix(in oklab, var(--color-bg), var(--color-surface) 70%), --alpha(var(--color-fg3)/16%));
  --color-skeue-bg-active: light-dark(color-mix(in oklab, var(--color-bg), var(--color-surface) 50%), --alpha(var(--color-fg3)/13%));

  --shadow-skeue-inner: inset 0px 1px 0px 0.5px light-dark(--alpha(var(--color-contrast)/10%), #0003);

  --color-select-bg-hover: light-dark(--alpha(var(--color-contrast) / 8%), var(--color-skeue-bg-hover));
  --color-select-bg-active: light-dark(--alpha(var(--color-contrast) / 11%), var(--color-skeue-bg-active));
}
                            /* Todo: Focus outline color */  
@utility button-common    { @apply clickableUI text-sm text-fg flex items-center justify-center
                                   rounded-md gap-2 px-2.5 py-2   
                                   active:translate-y-px
                                   focus:outline-none
                                   disabled:opacity-25
                                   disabled:pointer-events-none
                          }
@utility button-base-color { @apply bg-skeue-bg 
                              hover:bg-skeue-bg-hover 
                             active:bg-skeue-bg-active 
                             active:shadow-none border border-skeue-border
                             shadow-skeue-highlight
                             disabled:shadow-none
                           }
@utility button-base      { @apply button-common button-base-color }
@utility button-subtle-color { @apply bg-contrast/6 
                                hover:bg-select-bg-hover 
                               active:bg-select-bg-active 
                               active:shadow-skeue-inner
                          }
@utility button-subtle    { @apply button-common button-subtle-color }
@utility button-ghost     { @apply button-common 
                                           hover:bg-select-bg-hover 
                                          active:bg-select-bg-active 
                                          active:shadow-skeue-inner 
                          }
@utility button-faint     { @apply button-ghost text-muted
                          }
                          /* Button Sizes */
@utility button-icon-sm   { @apply p-0 size-5 }
@utility button-icon      { @apply p-0 size-7 }
@utility button-icon-lg   { @apply p-0 size-8 text-lg }




/* Popover */
@theme {
  --color-dark: light-dark(color-mix(in oklch, var(--color-slate-700),var(--color-contrast) 25%), var(--color-zinc-950))
}
@utility popover-backdrop   { @apply fixed inset-0 min-h-dvh
                                     bg-dark/40 dark:bg-dark/65
                                     transition-opacity duration-100
                                                opacity-150
                            data-starting-style:opacity-0
                              data-ending-style:opacity-0 
                                     supports-[-webkit-touch-callout:none]:absolute 
                            }
@utility popover-transition { @apply transition-[scale,opacity] duration-100 ease-out 
                                     data-starting-style:scale-[0.95] data-starting-style:opacity-0
                                       data-ending-style:scale-[0.95]   data-ending-style:opacity-0 
                            }
@utility popover-surface    { @apply outline-hidden rounded-lg 
                                     bg-surface2
                                     border-border3 border
                                     shadow-dark/30 dark:shadow-dark/50 shadow-lg
                                     popover-transition
                            }
@utility popover-surface-large-border { @apply border-transparent dark:border-border3 border }
@utility popover-surface-large-shadow { @apply shadow-dark/30 dark:shadow-zinc-950/50 shadow-lg }
@utility popover-surface-large { @apply border-transparent dark:border-border3 border
                                        shadow-dark/50 dark:shadow-zinc-950/50 shadow-lg
                                        rounded-2xl
                            }
@utility popover-menu-item  { @apply clickableUI rounded-md outline-hidden 
                                     /* data-highlighted:bg-slate-100 dark:data-highlighted:bg-zinc-800  */
                                     data-highlighted:bg-select-bg-hover
                                     p-1 
                            }

/* Tab */
@theme {
  --color-debossed: light-dark(--alpha(var(--color-contrast)/15%), --alpha(var(--color-dark)/35%));
  --color-debossed-hover: light-dark(--alpha(var(--color-contrast)/15%), --alpha(var(--color-fg3)/10%));
  --shadow-tab-shadow: 0px 3px 5px light-dark(--alpha(var(--color-contrast)/20%), --alpha(var(--color-dark)/80%)),
                           inset 0px  0.5px 0px 0.5px light-dark(#fff8, #fff1),
                           inset 0px -1.5px 0px 0.5px light-dark(--alpha(var(--color-contrast)/10%), #0002);
  --color-tab-border: light-dark(--alpha(var(--color-contrast)/35%), var(--color-skeue-border));
  /* --color-tab-border: red; */
}
@utility tab-container         { @apply bg-debossed 
                                        p-0.5 rounded-lg gap-0.5
                                        /* p-1 rounded-xl gap-0.5 */
                                        border-debossed
                                        shadow-(--color-skeue-inner)
                                        flex self-start  border 
                               }
@utility tab-item              { @apply p-2 rounded-md px-3 w-40 border
                                        flex items-center gap-2 clickableUI 
                               }        
@utility tab-item-selected     { @apply button-base-color 
                                        border 
                                        border-tab-border
                                        shadow-tab-shadow pointer-events-none
                               }
@utility tab-item-not-selected { @apply hover:bg-debossed-hover button-subtle-color border-transparent bg-transparent  }

/* Menu Trigger (dropdowns) */
@utility menu-trigger          { @apply clickableUI button-common w-32 input-box }