@import "tailwindcss";

:root{
  color-scheme: light dark;
}



/* Naming convenstion so far: [type]-[env?]-[what]-[variant] */
/*                            color  error  border muted */
/*                            color  error  fg     muted */

@theme {
  --color-base:                 light-dark(        var(--color-white),                     var(--color-zinc-900)             );
  --color-divider:              light-dark(        var(--color-slate-200),                 var(--color-zinc-800)             );
  --color-divider-strong:       light-dark(        var(--color-slate-300),                 var(--color-zinc-700)             );
  --color-fg-base:              light-dark(        var(--color-slate-700),                 var(--color-zinc-300)             );
  --color-fg-label:             light-dark(--alpha(var(--color-slate-700)   /  85%),       var(--color-zinc-300)             );
  --color-fg-muted:             light-dark(--alpha(var(--color-slate-700)   /  75%),       var(--color-zinc-400)             );
  --color-fg-faint:             light-dark(--alpha(var(--color-slate-700)   /  35%), --alpha(var(--color-zinc-400)    /  35%));
  --color-border:               light-dark(--alpha(var(--color-slate-200)   / 100%), --alpha(var(--color-zinc-800)    / 100%));

  /* Links */
  --color-fg-link:              light-dark(--alpha(var(--color-slate-500)   /  75%), --alpha(var(--color-zinc-500)    / 100%));
  --color-fg-link-hover:        light-dark(--alpha(var(--color-slate-600)   / 100%), --alpha(var(--color-zinc-400)    / 100%));
  --color-fg-underline:         light-dark(--alpha(var(--color-slate-300)   / 100%), --alpha(var(--color-zinc-700)    / 100%));
  --color-fg-underline-hover:   light-dark(--alpha(var(--color-slate-500)   /  50%), --alpha(var(--color-zinc-600)    / 100%));
  
  /* Colored */
  --color-fg-green:             light-dark(--alpha(var(--color-emerald-600) / 100%), --alpha(var(--color-emerald-500) / 100%));
  
  /* Input */
  --color-stroke:               light-dark(--alpha(var(--color-slate-300)   / 100%), --alpha(var(--color-zinc-700)    / 100%));
  --color-stroke-wide-hover:    light-dark(--alpha(var(--color-slate-200)   /  50%), --alpha(var(--color-zinc-800)    /  50%));
  --color-stroke-wide-focus:    light-dark(--alpha(var(--color-slate-200)   / 100%), --alpha(var(--color-zinc-800)    / 100%));
  --color-surface-autofill:     light-dark(--alpha(var(--color-slate-100)   / 100%), --alpha(var(--color-zinc-800)    / 100%));
  --color-stroke-autofill:      light-dark(--alpha(var(--color-slate-400)   / 100%), --alpha(var(--color-zinc-600)    / 100%));

  /* Error */   
  --color-input-error-border:   light-dark(--alpha(var(--color-red-400)     / 100%), --alpha(var(--color-red-500)     /  50%));
  --color-error-border:         light-dark(--alpha(var(--color-red-300)     / 100%), --alpha(var(--color-red-500)     /  20%));
  --color-error-bg:             light-dark(--alpha(var(--color-red-50)      / 100%), --alpha(var(--color-red-500)     /  10%));
  --color-error-text-base:      light-dark(--alpha(var(--color-red-600)     / 100%), --alpha(var(--color-red-400)     / 100%));
  --color-error-text-muted:     light-dark(--alpha(var(--color-red-500)     / 100%), --alpha(var(--color-red-400)     /  75%));

  /* Card */
  --color-card-bg:              light-dark(--alpha(var(--color-white)       / 100%), --alpha(var(--color-zinc-800)    /   0%));
  --color-card-bg-hover:        light-dark(--alpha(var(--color-slate-50)    /  50%), --alpha(var(--color-zinc-800)    /  25%));
  --color-card-border-hover:    light-dark(--alpha(var(--color-slate-300)   / 100%), --alpha(var(--color-zinc-700)    / 100%));      
  --color-card-shadow:          light-dark(--alpha(var(--color-slate-500)   /  10%), --alpha(var(--color-zinc-950)    /  50%));

  /* Button */
  --color-button-base:          light-dark(--alpha(var(--color-slate-200)   / 100%), --alpha(var(--color-zinc-800)    /  50%));
  --color-button-base-hover:    light-dark(--alpha(var(--color-slate-300)   /  80%), --alpha(var(--color-zinc-700)    /  50%));
  --color-button-base-active:   light-dark(--alpha(var(--color-slate-300)   /  95%), --alpha(var(--color-zinc-700)    /  40%));
  
  --color-button-subtle:        light-dark(--alpha(var(--color-slate-200)   /  50%), --alpha(var(--color-zinc-800)    /  25%));
  --color-button-subtle-hover:  light-dark(--alpha(var(--color-slate-200)   /  80%), --alpha(var(--color-zinc-700)    /  25%));
  --color-button-subtle-active: light-dark(--alpha(var(--color-slate-200)   / 100%), --alpha(var(--color-zinc-700)    /  17%));

  /* Popover */
  --color-popover-shadow:       light-dark(--alpha(var(--color-slate-600)   /  15%), --alpha(var(--color-zinc-950)    /  50%));   
  --color-popover-border:       light-dark(--alpha(var(--color-slate-300)   /  75%), --alpha(var(--color-zinc-700)    / 100%));   
  --color-popover-backdrop:     light-dark(--alpha(var(--color-black)       /  20%), --alpha(var(--color-black)       /  65%));   
}

/* Interactions */
@utility clickable   { @apply cursor-pointer }
@utility clickableUI { @apply select-none cursor-pointer }

/* Base */
@utility base             { @apply base-surface base-text base-border }
@utility base-surface     { @apply bg-base }
@utility base-text        { @apply text-fg-base font-medium font-mono tracking-[0.028em] }
@utility base-border      { @apply border-divider }

/* Links */
@utility link-article     { @apply link-text link-underline clickable }
@utility link-navigation  { @apply link-text clickable }
@utility link-text        { @apply text-fg-link hover:text-fg-link-hover }
@utility link-underline   { @apply underline underline-offset-3 
                            decoration-fg-underline hover:decoration-fg-underline-hover }

/* Typography */
@utility typo-label       { @apply text-fg-label text-sm }
@utility typo-muted       { @apply text-fg-muted }
@utility typo-faint       { @apply text-fg-faint }
@utility typo-green       { @apply text-fg-green }

/* Strokes */
@utility border-strong    { @apply border-divider-strong }

/* Inputs */
@utility input-reset        { @apply outline-none  }
@utility input-bg           { @apply bg-base }
@utility input-text         { @apply caret-fg-base text-start }
@utility input-shape        { @apply flex items-center  gap-2 min-w-30 rounded-md }
@utility input-padding      { @apply px-3 p-2 }
@utility input-border       { @apply border border-stroke }
@utility input-border-error { @apply border border-input-error-border}
@utility input-autofill     { @apply autofill-text-fg-base autofill-border-stroke-autofill }
@utility input-outer        { @apply transition-all hover:outline-4 focus:outline-4
                                     outline-stroke-wide-hover focus:outline-stroke-wide-focus }
@utility input-box          { @apply input-border input-padding 
                                     input-outer input-shape 
                                     input-bg input-text }

/* Errors */
@utility error-border     { @apply border-error-border }
@utility error-bg         { @apply bg-error-bg }
@utility error-text       { @apply text-error-text-base }
@utility error-text-muted { @apply text-error-text-muted }
@utility error-card       { @apply card error-border error-bg error-text }

/* Page */
@utility page             { @apply base p-8 flex flex-col gap-4 max-w-200 w-screen min-h-screen }
@utility page-title       { @apply text-xl tracking-tighter font-semibold leading-6 mb-2 }
@utility page-description { @apply typo-muted font-semibold }

/* Card */
@utility card-border      { @apply border border-border }
@utility card-shadow      { @apply shadow-none }
@utility card-bg          { @apply bg-card-bg }
@utility card-padding     { @apply p-2 px-3 }
@utility card-rounded     { @apply rounded-md }
@utility card-clickable   { @apply clickableUI }
@utility card             { @apply card-border card-shadow card-bg card-padding card-rounded }

@utility link-card        { @apply card card-clickable transition-all duration-75
                            hover:shadow-lg hover:shadow-card-shadow
                            hover:border-card-border-hover
                            hover:bg-card-bg-hover }

/* Button */
                            /* Todo: Focus outline color */
@utility button-common    { @apply clickableUI text-sm text-fg-base flex items-center justify-center
                            rounded-md gap-2 px-2.5 py-2 focus:outline-none disabled:pointer-events-none }
@utility button-base      { @apply button-common bg-button-base   hover:bg-button-base-hover   active:bg-button-base-active   disabled:opacity-25  }
@utility button-subtle    { @apply button-common bg-button-subtle hover:bg-button-subtle-hover active:bg-button-subtle-active disabled:opacity-25 }
@utility button-ghost     { @apply button-common                    hover:bg-button-subtle-hover active:bg-button-subtle-active disabled:opacity-25 }
                          /* Button Sizes */
@utility button-icon-sm   { @apply p-0 size-5 }
@utility button-icon      { @apply p-0 size-7 }
@utility button-icon-lg   { @apply p-0 size-8 text-lg }

/* Popover */
@utility popover-base       { @apply base outline-hidden }
@utility popover-rounded    { @apply rounded-lg }
@utility popover-bg         { @apply bg-base }
@utility popover-border     { @apply border border-popover-border }
@utility popover-shadow     { @apply shadow-popover-shadow shadow-md dark:shadow-lg }
@utility popover-transition { @apply transition-[scale,opacity] duration-75 ease-out 
                              data-starting-style:scale-[0.95] data-starting-style:opacity-0
                              data-ending-style:scale-[0.95]   data-ending-style:opacity-0 }
@utility popover-backdrop   { @apply fixed inset-0 min-h-dvh
                              bg-popover-backdrop transition-opacity opacity-150
                              data-ending-style:opacity-0 data-starting-style:opacity-0
                              supports-[-webkit-touch-callout:none]:absolute }
