@import "tailwindcss";

.root {
  isolation: isolate; 
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  --text-xs: 0.70rem; /*11.2px*/
  --text-sm: 0.75rem; /*12px*/
  --text-base: 0.875rem; /*14px*/
  --text-lg: 1rem; /*16px*/

  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;

}

body {
  position: relative;
  font-size: 14px;
}


