@import "tailwindcss";

.root {
  isolation: isolate; 
}

@theme inline {
  --font-sans: var(--font-next-sans);
  --font-mono: var(--font-next-mono);

  --text-xs: 0.70rem; /*11.2px*/
  --text-sm: 0.75rem; /*12px*/
  --text-base: 0.875rem; /*14px*/
  --text-lg: 1rem; /*16px*/

  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
}

body {
  position: relative;
  font-size: 14px;
}

@utility ksp-ui-box-outer {
  @apply p-1 px-2;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -3;
    inset: 0;
    border-radius: 0rem 0rem 0.7rem 0rem;
    filter: blur(1px);
    background: linear-gradient(#6A757F, #49545E);
    box-shadow: inset -1px -2px 2px #14191C, inset 1px 2px 2px #89949E;
  }
}

@utility ksp-ui-box-inner-ring {
  position: relative;
  padding: 0.15rem;
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    inset: 0;
    background: linear-gradient(
      #1E2022,
      #40464D 20%,
      #363D44 80%,
      #C5C7CA 100%
    );
    border-radius: 0.4rem;
    filter: blur(0.8px)

  }
}

@utility ksp-ui-box-inner {
  position:relative;
  padding: 0.1rem 0.5rem;
  color: #00FF00;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: #3A3A3F;
    border-radius: 0.25rem;
    filter: blur(0.5px);
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* Replace #ffffff with your desired background color */
  /* -webkit-box-shadow: 0 0 0px 1000px #333 inset !important; */
  /* box-shadow: 0 0 0px 1000px #822 inset !important; */

  /* color: white !important; */
  
  /* Use this to change the text color inside the autofilled input */
  /* -webkit-text-fill-color: #fff !important; */
}


:is(:autofill, :-webkit-autofill, :-moz-autofill):-webkit-autofill:is(:is(*),:hover,:focus) {
  /* border: 1px solid green; */
  /* -webkit-text-fill-color: green; */
  /* -webkit-box-shadow: 0 0 0 1000px #000 inset; */
  /* transition: background-color 5000s ease-in-out 0s; */
}

@custom-variant autofill-all {
  :is(:autofill, :-webkit-autofill, :-moz-autofill):-webkit-autofill:is(:is(*),:hover,:focus) {
    @slot;
  }
}

:is(input, textarea, select):is(:autofill, :-webkit-autofill, :-moz-autofill):is(:is(*),:hover,:focus) {
  /* border: 1px solid green; */
  border: 1px solid var(--autofill-border-color);
  -webkit-text-fill-color: var(--autofill-text-color);
  -webkit-box-shadow: 0 0 0 1000px var(--autofill-bg-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@utility autofill-text-* {
  --autofill-text-color: --value(--color-*);
}
@utility autofill-bg-* {
  --autofill-bg-color: --value(--color-*); 
}
@utility autofill-border-* {
  --autofill-border-color: --value(--color-*);
}


input::-ms-reveal {
  filter: invert(100%);
  padding-left: calc(1 +1);
}